@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

:root{
    --black: #252525;
    --nude: #f5f5dd;
    --verde: #1d7948;
    --verde_fonte: #ddea90;
    --rosa: #f2c4b8;
    --azul: #1b227d;
    --verde_musgo: #c7d8c6;
    --laranja: #ff5035;
    --amarelo: #ffed75;
}

*{
    font-family: 'Quicksand', sans-serif;
}

html, body{
    color: var(--amarelo);
    background-color: var(--black)
}

h1{
    color: var(--amarelo);
}

h4{
    color: var(--verde_musgo);
}